---
layout: default
---

<!-- logo section -->
<section>
  <div class="mt-5">
    <div class="mx-auto mt-5" style="width: 150px;">
      <img src="/assets/images/logo.png" alt="" width="150px"/>
    </div>
  </div>
</section>

<!-- Lates post section -->
<section>
  <div class="m-5 bg-white">
    <div class="row">
      {% assign latestPost = site.posts.first %}

      <div class="col-sm-12 col-md-6 offset-md-2">
        <a href="{{latestPost.url}}" class="text-dark article-link">
          <img src="{{ latestPost.images }}/header.jpeg" class="img-fluid">
        </a>
      </div>

      <div class="col-sm-12 col-md-2 ">
        <h2>
          <a href="{{latestPost.url}}" class="text-dark"> {{latestPost.title}} </a>
        </h2>

        <div class="pt-4">
          <p class="text-muted">
            {{latestPost.summary}}
          </p>
        </div>
        {% include meta.html author=latestPost.author date=latestPost.date %}
      </div>

    </div>
  </div>
</section>

<!-- posts per page section -->
<section>
  <div class="d-md-flex d-sm-block justify-content-center">
    <div class="mt-5 posts-container" >
      <div class="row" style="padding: .5rem;">
        {% for post in paginator.posts %}
        {% include post.html post=post %}
        {% endfor %}
      </div>
      </div>
    </div>
</section>

<!-- pagination Nav section -->
<section>
  <div class="d-flex justify-content-center">
        <div class="mt-5">
          <nav aria-label="Page navigation example" class="text-center">
            <ul class="pagination">
              {% if paginator.total_pages > 1 %}
              <li class="page-item">
                {% if paginator.previous_page %}

                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}  " class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
                {% else %}
                <span aria-hidden="true" class="page-link text-muted bg-muted">&laquo;</span>
                <span class="sr-only page-link text-muted bg-muted">Previous</span>
                {% endif %}
              </li>

              {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
              <li class="page-item active bg-dark"><a href="{{ paginator.page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">{{ page }}</a>  </li>
              {% elsif page == 1 %}
              <li class="page-item"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">{{ page }}</a>  </li>
              {% else %}
              <li class="page-item"> <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }} " class="page-link">{{ page }}</a>  </li>
              {% endif %}
              {% endfor %}

              <li class="page-item">
                {% if paginator.next_page %}

                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}  " class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
                {% else %}
                <span aria-hidden="true" class="page-link text-muted bg-muted">&raquo;</span>
                <span class="sr-only page-link text-muted bg-muted">Next</span>
                {% endif %}
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
  </div>
</section>
<section class="footer-section">
  {% include footer.html %}
</section>
