
<div class="danger custom-block">
  {% if include.title %}
  <p class="custom-block-title">
    {{include.title}}
  </p> 
  {% endif %}

  {% if include.error %}
    <p>
      {{include.error}}
    </p>
  {% endif %}
</div>
