<section class="footer-section">
  <div class="d-flex flex-row justify-content-center">
    <div class="footer">

      <div class="footer-content
        justify-content-center mt-5rem mb-5rem">

        <div class="row">
          <div class="col-md-4">
            <div class="footer-title
              text-white">
              Discover Elixir Tips
            </div>

            <div
              class="footer-description">
              Welcome to a place
              where Elixir matter.
              We focussed on our daily 
              challenges we encounter 
              in production. You will
              find better way of 
              programming things.

            </div>
          </div>

          <div class="col-md-4">
            <div class="footer-title">
              Why Here ?
            </div>

            <div
              class="footer-description">
              As a place of Elixir
              tips, You will find many 
              tips that saves your time
              and tune your coding habits 
              with some hacks. I had burnt 
              my hands in production to find
              these leaves of protection.

            </div> 
          </div>

          <div class="col-md-4">
            <div class="footer-title">
              Happy Coding :)
            </div>

            <div
              class="footer-description">

              We started writing
              as a habit and people 
              started receiving us
              with a great honor. 
              This lead us to put more 
              time in writing and sharing
              our knowledge to the world.
            </div> 
          </div>
        </div>
        <hr class="footer-divider">

      </div>

    </div>
  </div>
</section>
