      <div class="d-flex flex-wrap pr-2">
        {% include dp.html author=include.author %}
        <div class="d-flex flex-column flex-wrap pl-3 ">
          <div>
            <small
                  class="align-self-start
                  text-dark"><strong>{{ include.author | capitalize}}</strong></small>
          </div>
          <div>
          <small class="align-self-end text-muted">{% include date.html date=include.date %}</small>
          </div>
        </div>
      </div>
