  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><a href="/" class="text-dark text-bold">Elixir Tips</a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% for item in site.data.navigation %}
        {% if page.url == item.link %}
          <li class="nav-item active">
            <a class="nav-link" href=
              "{{ item.link }}"> {{
              item.name }}<span class="sr-only">(current)</span></a>
      </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href=
              "{{ item.link }}"> {{ item.name }}<span class="sr-only">(current)</span></a>
      </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
