<div class="col-md-4 mt-3 col-sm-12">
  <div class="card text-white">
    <div class="position-relative">
        <a href="{{post.url}}"> 
      <img class="card-img-top" src="{{ post.images }}/header.jpeg" alt="Card image cap">
        </a>
    </div>


    <div class="card-body position-relative">
      <h3 class="card-title text-">
        <a href="{{post.url}}" class="text-dark">{{post.title}}</a>
      </h3>

      <p class="card-text text-dark text-justify">
        <!-- {{ post.content | strip_html | truncatewords: 30}} -->

        {{post.summary | truncatewords: 30}}

      </p>

      <div class="post-meta">
        {% include meta.html author=post.author date=post.date %}
      </div>
      <p class=""><a href="{{post.url}}"
          class="btn btn-outline-dark btn-sm mt-3 align-self-right">Read more</a></p>

    {% for tag in post.tags | limit 5 %}
    <a href="/tag/{{tag}}" class="card-link bg-light p-2 text-grey"> {{tag}} </a>

    {% endfor %}
    </div>

  </div>
</div>
