{% assign post = include.post %}
<div class="d-flex flex-row">
    <div class="pr-2">
      <div
        class="">
        {% include dp.html author=post.author %}
      </div>
    </div>

    <div class="pr-2">
      <div class="d-flex flex-column">
        <div class="post-author-name">
          {{ post.author }}
        </div>
        <div class="post-time text-muted">
          {{ post.date | date: "%b %d, %Y  " }}.
          {% assign words = content |strip_html | number_of_words %}
          {% if words < 360 %}
          1 min
          {% else %}
          {{ words | divided_by: 180}} mins
          {% endif %} read

        </div>
      </div>
    </div>
  </div>
