<div class="">
    <a
        href="https://twitter.com/intent/tweet?text={{
    page.title }}&url={{ page.url
}}{{ page.url }}&via={{
page.author_twitter }}&related={{
page.author_twitter }}"
rel="nofollow" target="_blank"
title="Share on Twitter">
        <i class="fab fa-twitter
        text-muted share-icon"></i>
</a>
</div>


