<div class="warning custom-block">
  {% if include.title %}
  <p class="custom-block-title">
    {{include.title}}
  </p> 
  {% endif %}

  {% if include.warning %}
    <p>
      {{ include.warning }}
    </p>
  {% endif %}
</div>
