// This generates the box shadow classes usage .box-shadow-1:: box-shadow: 1px solid black;


// This generates the opcaity classes like opacity-1 which stands for

@for $val from 1 through 9 {
    .opacity-#{$val} {
        opacity: ($val/10);
    }
}

@for $val from 1 through 300 {
    .padding-top-#{$val} {
        padding-top: #{$val}px;
    }

    .padding-right-#{$val} {
        padding-right: #{$val}px;
    }

    .padding-left-#{$val} {
        padding-left: #{$val}px;
    }

    .padding-bottom-#{$val} {
        padding-bottom: #{$val}px;
    }

    .padding-#{$val}{
        padding: #{$val}px;
    }
}

@for $val from 1 through 300 {
    .margin-top-#{$val} {
        margin-top: #{$val}px;
    }

    .margin-right-#{$val} {
        margin-right: #{$val}px;
    }

    .margin-left-#{$val} {
        margin-left: #{$val}px;
    }

    .margin-bottom-#{$val} {
        margin-bottom: #{$val}px;
    }

    .margin-#{$val}{
        margin: #{$val}px;
    }
}

@for $val from 1 through 100 {
    .width-#{$val} {
        max-width: percentage($val/100);
    }
}
