$primary-color: dodgerblue;
$secondary-color: deepskyblue;
$link-visited-color: #e4e4e4;

$profile-img-border-color: deepskyblue;
$profile-img-border-size: 5px;
$profile-description-color: #cef;

$body-bg-color: #e4ebef;
$code-bg-color: #f7fafb;

$light-white-color: #fafafa;
$light-color: #fafafa;
$light-grey-color: lighten(lightgray, 30%);
$tag-color: #554111;
$dark-warning-color: #554111;

$relative-post-link-color: #0961c4;

$navigation-bar-color: #d8d8d8;
$navigation-bar-hover-color: white;
$navigation-bar-bg-color: #1e75a7;

$contacts-bar-color: #c2e0e1;
$contacts-bar-hover-color: white;
$contacts-bar-bg-color: #08c;
//$contacts-bar-bg-color: #00a6ff;

$regular-font: 'Source Sans Pro';
$heading-font: 'Roboto';


$footer-link-hover-color: lightgray;
$footer-bg-color: #2f2e2e;
$footer-color: deepskyblue;

$spacing-unit: 2;
