
$default_color: #ccc;
$number_color: #dc9656;
$comment_color: #999;
$module_color: #ba8baf;
$function_color: #7cafc2;
$bracket_color: #ccc;
$string_color: #a1b56c;
$atom_color: #a1b56c;
$operator_color: #aaa;

.highlight {
    code, pre {
        color: $default_color;
        background-color: #282c34;
        border-radius: 6px;
        border: none;
        font-size: 1.2em;

    }

    .hll {
        background-color:#222;
    }

    .err {
        color: #e37170;
        background-color: #3d3535;
    }

    .k {
        color: $module_color;
        font-weight: normal;
    }

    .p {
        color: $bracket_color;
    }

    .cs {
        color: #cd0000;
        font-weight: 700;
    }

    .gd {
        color: #cd0000;
    }

    .ge {
        color: #ccc;
        font-style: italic;
    }

    .gr {
        color: red;
    }

    .go {
        color: gray;
    }

    .gs {
        color: #ccc;
        font-weight: 700;
    }

    .gu {
        color: purple;
        font-weight: 700;
    }

    .gt {
        color: #0040D0;
    }

    .kc {
        color: #dca3a3;
    }

    .kd {
        color: #ffff86;
    }

    .kn {
        color: $function_color;
        font-weight: normal;
    }

    .kp {
        color: #cdcf99;
    }

    .kr {
        color: #cdcd00;
    }

    .ni {
        color: #c28182;
    }

    .ne {
        color: #c3bf9f;
        font-weight:700;
    }

    .highlight .nn {
        color: #8fbede;
    }

    .highlight .no {
        color: #f7ca88;
        font-weight: normal;
    }

    .highlight .vi {
        color: #ffffc7;
    }

    .highlight .n {
        color: #8fbede;
        font-weight: normal;
    }

    // comment line
    .cl {
        color: #999;
        font-size: 18px;
    }

    // string
    .s2 {
        color: $string_color;
    }

    //elixir atoms
    .ss {
        color: $atom_color;
    }

    //numbers
    .mi {
        color: $number_color; 
    }

    //comment string
    .c1 {
        color: $comment_color;
    }

    .o {
        color: $operator_color;
    }
}



