---
---

@import "import";
@import "theme";

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);


$body_color: #2c3e50;
body {
  line-height: 1.6875em;
  color: $body_color;
}


* {
  box-sizing: border-box;

}
p {
  font-size: 20px;
}

.page {
  background-color: #FFF;
}

.text-dark-warning {
  color: $dark-warning-color;
}

a.post-tag {
  color: $tag-color !important;

  &:hover {
    font-weight: bold;
    color: $tag-color !important;
  }
}

.bg-muted {
  background-color: $light-grey-color !important;
}


.dark-overlay {
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
}

.dark-post-image-overlay {
  background-color: rgba(0,0,0,.5);
}

.post-image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-main-title {
  font-weight: bold;
  letter-spacing: 2px;
}

.post-header-wrapper {
  width: 100%;
  height: 100%;
}

.post-section {
  min-width: 320px;
  background: $body-bg-color;
  img {
    width: 100%;

  }

}

img.author-image {
  height: 50px;
  width: 50px;
  // border: 2px solid $light-white-color;
  // border-radius: 50%;
}


.blog-post-container {
  max-width: 28rem;
}


span.k {
  font-weight: bold;
  color: pink;
}

.related-articles {
}
.disqus-container {
  background-color: $light-white-color;
  border: 2px solid $light-white-color;
  border-radius: 2px;
  margin-top: 30px;
}

.relative-post-time {
  width: 200px;
}

a.relative-post-link {
  text-decoration: underline !important;
  color: $relative-post-link-color !important;
}

.social-bar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999999;
}

.hero-avatar {
  .avatar {
    border: 2px solid #00d268;
    border-radius: 100%;
    box-shadow: 0 0 1px 5px
    rgba(0,210,104,0.15);
    display: inline-block;
  }
}

.scroll-top-container {
  bottom: 50px;
  right: 50px;
  padding: 10px;
  z-index: 999999999999999;
}

.shadow {
  -moz-box-shadow:     0 0 .5px rgba(0,0,0,.5);
  -webkit-box-shadow:  0 0 .5px rgba(0,0,0,.5);
  box-shadow:          0 0 .5px rgba(0,0,0,.5);

}


.card {
  &:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }
}



.share-page {
  text-align: center;
  background: $secondary-color;
  color: $light-color;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 1.5 * $spacing-unit 0;

  a {
    font-weight: 700;
    color: #fff;
    margin-left: 10px;

    &:hover {
      border-bottom: 1px dashed #fff;
    }
  }
}

.container {
  max-width: 40%;
}

.bg-tag {
  background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
  border-radius: 3px;
  font-size: 15px;
  .tag-link {
    color: rgba(0, 0, 0, 0.54);
  }
}

// removing codeblock vertical scrollbar
//

pre.highlight {
  overflow: auto;
  max-height: 100%;
  margin-bottom: 0px !important;
  padding: 1.25rem 1.5rem;
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: .85rem 0;
}


div.highlight {
  font-weight: 400;
  vertical-align: baseline;
  padding: .1em;
}

.highlighter-rouge {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

// post styles
.post-title {
  font-family: 'Noto Serif', serif;
  font-weight: 300;

  h1 {
    padding: 0;
  }
}

// sub title
.post-sub-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

// sub title
.post-sub-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}


h1, h2, h3, h4, h5, h6 {
  padding: 1rem 0;
  font-weight: 400;
  font-family: 'Noto Serif', 'serif';
}

h3 {
  font-weight: bolder;
  &.card-title {
    font-size: 26px;
  }
}

p {
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.68em;
  font-family: 'Merriweather', 'sans';
  // font-family: 'Noto Serif', 'serif';
  font-weight: 400;
  font-size: 1.12rem;
  word-break: break-word;
}

code.highlighter-rouge {
  color: #476582;
  padding: .25rem .5rem;
  margin: 0;
  font-size: .85em;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

pre code {
  color: #fff;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  font-size: .85em;
}
.share-icon {
  font-size: 2rem;
}
.related-article-header-image {
  height: 218px;
}

h3.related-post-title {
  font-style: normal;
  font-weight: 400;
  max-width: 23rem;
}
a.related-post-link {
  text-decoration: none;
}
.related-article-container {
  max-width: 60%;
}
.author-name {
  font-size: 1.5rem;
  font-style: bolder;
  font-weight: 500;
}

.bio {
  font-size: 1rem;
}

.main-section {
  margin: 2rem 0;
}
.footer-section{
  background: rgba(0,0,0,
  0.9);
}
.footer{
  max-width: 60%;
  .footer-description {
    color: rgba(255, 255,
    255, 0.7);
    margin-top: 1.5rem;
  }

  .footer-content {
    margin: 4rem 0;
  }

  .footer-title {
    font-size: 1.5rem;
    font-style: normal;
    color: white;
  }

  .footer-divider {
    background: #999;
    margin-top: 5rem;
  }
}

.bg-gradient {
  background: linear-gradient(135deg, #6f42c1 0%, #4582EC 100%);
}

.post-link,.article-link {
  text-decoration: none;
}

.bg-gradient-1 {
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.width-60 {
  max-width: 60%;
}

.width-50 {
  max-width: 50%;
}

.text-grey {
  color: #666666;
  &:hover{
    color: #333333;
  }
  border-radius: 4px;
  border-color: none;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #000;
  border-color: #666;
}

.page-item {
  .page-link {
    color: black;
  }
}

.card {
  &:hover {
    box-shadow: none;
  }
}

a, p a code {
  color: #dd0b78;
}

a {
  font-weight: 500;
  text-decoration: none;
}

// tips
.custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983;
  p {
    line-height: 1.7;
    margin: 0;
  }
}

.custom-block.danger, .custom-block.tip, .custom-block.warning {
  padding: 1.5rem 1.5rem;
  border-left-width: .6rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.custom-block.warning {
  background-color: rgba(255,229,100,.3);
  border-color: #e7c000;
  color: #6b5900;

  p {
    color: #6b5900;
    line-height: 1.7;
    margin: 0;

  }

  .custom-block-title {
    color: #b29400;
  }

  a {
    color: #2c3e50;
  }
}

.custom-block.danger {
  background-color:#ffe6e6;
  border-color:#c00;
  color: #4d0000;

  p {
    color: #4d0000;
    line-height: 1.7;
    margin: 0;
  }
  a {
    color: #2c3e50;
  }
  .custom-block-title {
    color: #900;
  }
}

code {
  font-family: "Fira Code";
  span {
    font-family: "Fira Code";
  }
}

p {
  code {
    font-weight: 700;
    font-family: 'Noto Serif', 'serif';
  }
}

@media only screen and (min-width: 1280px)  {
  .container {
    max-width: 40%;
  }

  .posts-container {
    width: 65%;
  }
}

@media only screen and (max-width: 560px)  {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

  .container {
    max-width: 40%;
  }

  .posts-container {
    width: 65%;
  }

}


// Medium Sized Devices (e.g. Desktops) have a screen size smaller than 1200px and greater than 991px, using
//
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}

// Larger Devices (e.g. wide-screen monitors) are greater than 1200px, targeted using all:

@media (min-width: 1200px) {

  .container {
    max-width: 40%;
  }
  .posts-container {
    width: 65%;
  }
}


// “Small Devices” (e.g. tablets) are targeted with
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  .posts-container {
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .posts-container {
    width: 100%;
  }
}


