---
layout: default
---

<div class="post-header container">
  {% assign post=page %}

  {% if post.kicker %}
  <div class="post-kicker text-muted">
    {{ post.kicker | upcase }}
  </div>
  {% endif %}

  {% if post.title %}
  <div class="post-title">
    <h1> {{ post.title }} </h1>
  </div>
  {% endif %}

  {% if post.subtitle %}
  <div class="post-sub-title text-muted">
    {{ post.subtitle }}
  </div>
  {% endif %}

  {% if post.author %}
    {% include post_info.html post=post %}
  {% endif %}

</div>

{% if post.image %}
<div class="post-header-image mt-4">
  <img src="{{post.images}}/{{post.image}}" alt="post-header-image" width="100%"/>
</div>
{% else %}

<div class="post-header-image mt-4">
  <img src="{{post.images}}/header.jpeg"
  alt="post-header-image" width="100%"/>
</div>

{% endif %}

<div class="post-content mt-5">
  <div class="container">
    {{content}}

    <hr>
    <div class="mt-5">
      <p class="text-bold">Join Our Telegram Channel</p>
      {% include telegram_channel.html %}
    </div>

    <div class="mt-5">
      <p class"text-bold"> Check out the GitHub repository on Killer Elixir Tips </p>
      {% include extips.html %}
      Glad if you can contribute with a <span class="text-warning
        text-bold">★</span>
      <hr>
      <h3> 🎉 Happy Coding :) </h3>
    </div>




    <div class="mt-4">
      <ul class="nav justify-content-start">
        {% for tag in post.tags limit: 5 %}
        <li class="nav-item bg-tag mr-2">
          <a class="nav-link tag-link" href="/tag/{{ tag }}">{{tag}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <hr>
    <div class="mt-4">
      <div class="d-flex flex-row">
        <div class="pr-4">
          <img src="/assets/images/authors/{{post.author}}/{{post.author}}.png" alt="author image" width="100px"/>
        </div>

        <div class="pr-2 align-self-top">
          <div class="d-flex flex-column">
            <div class="text-muted " >
              {{"written by" | upcase }}
            </div>

            <div class="author-name">
              {{ post.author | capitalize }}
            </div>
            <div class="author-bio mt-2">
              <p class="text-muted bio">{{site.data.profiles[post.author].bio}}</p>
            </div>

          </div>
        </div>

      </div>

    </div>
    <hr>

  </div>
</div>

<div class="container blog-post-container padding-30 disqus-container">
  <div id="disqus_thread" class=""></div>
</div>

<section class="main-section bg-light d-flex justify-content-center">
    <div class="related-article-container mt-2">
      <h4>Read more <i class="fas fa-arrow-down"></i></h4>
      <hr>
      <div class="d-flex flex-row">
      {% for post in site.related_posts limit:3 %}
        <div class="pr-4">
          <p>
            <small class="text-muted"> Related reads </small>
          </p>

          <div>
            <a href="{{post.url}}" target="_blank">
              <img src="{{post.images}}/header.jpeg" alt="Post Header
              Image" class="related-article-header-image"/>
            </a>
          </div>

          <h3 class="related-post-title">
            <a href="{{ post.url }}" class="text-dark
            related-post-link" target="_blank">{{ post.title }}</a>
          </h3>
          {% include post_info.html post=post %}
        </div>
      {% endfor %}
      </div>
    </div>
  </section>

  {% include footer.html %}

  <script>
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://blackode-1.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
