---
layout: page
---

  <div class="container margin-top-100">

    <div class="row card-columns">
    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% if tag == page.tag %}
          {% include post.html post=post %}
        {% endif  %}
      {% endfor %}
    {% endfor %}
    </div>

</div>
